<style>
  body {
    background:#eff3f6;
  }
  h1 {
    position: relative;
    text-align: center;
    padding-top: 15%;
    font:normal Arial, Helvetica, Sans-serif;
  }
  #main {
    background:orangered;
    border: 1px solid orangered;
    border-top:1px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
    -moz-box-shadow:rgba(0,0,0,0.15) 0 0 1px;
    -webkit-box-shadow:rgba(0,0,0,0.15) 0 0 1px;
    box-shadow:rgba(0,0,0,0.15) 0 0 1px;
    margin:0 auto;
    width: 230px;
    height: 265px;
    padding-top: .3em;
  }
  #form {
    background:#fefefe;
    border: 1px solid #C3D4DB;
    border-top:1px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
    -moz-box-shadow:rgba(0,0,0,0.15) 0 0 1px;
    -webkit-box-shadow:rgba(0,0,0,0.15) 0 0 1px;
    box-shadow:rgba(0,0,0,0.15) 0 0 1px;
    color:#444;
    font:normal 12px/14px Arial, Helvetica, Sans-serif;
    margin:0 auto 30px;
    overflow:hidden;
    text-align: center;
    height:250px;
    width: 220px;
    padding-top: 10px;
  }
  #buttonpretty {
    border-radius:10px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    background: orangered;
    font:bold 11px/14px Verdana, Tahomma, Geneva;
    margin-left:10px;
    padding:7px 21px;
  #button {
    position: relative;
    top: 10px;
  }
</style>
<body>

<h1 class="title">Register!</h1>
<div id="main">
  <form method="post" action="/register" id="form">
  Username: <input type="text" name="username"><br>
  Password: <input type="text" name="password"><br>
  <div id="button"><input type="submit" value="Register" id="buttonpretty"></div>
</div>
</form>

</body>